{% extends "base.html" %} {% block title %} Checkout Successful  {% endblock %}

{% block nav %}
<div class="nav_bar">
    <a href="/find-book" class="nav_button">Find book</a>
    <a href="/checkout" class="nav_button">Check Out Book</a>
    <details class="nav_button">
        <summary>{{ user }}</summary>
        <a href="/logout">Log Out</a>
    </details>
    <a href="/about-us" class="nav_button">About Us</a>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="title">Checkout Successful</h1>
    <h2 class="introduction">Thank you for checkout a book.</h2>
    <a href="/">Go back to Homepage?</a>
</div>

{% endblock %}