{% extends "base.html" %} {% block title %} Checkout Book {% endblock %}

{% block nav %}
<div class="nav_bar">
    <a href="/find-book" class="nav_button">Find book</a>
    <a href="/checkout" class="nav_button">Check Out Book</a>
    <details class="nav_button">
        <summary>{{ user }}</summary>
        <a href="/logout">Log Out</a>
    </details>
    <a href="/about-us" class="nav_button">About Us</a>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="title">Checkout Book</h1>

    <form action="/process-checkout" method="post">
        <input type="text" name="book" placeholder="Book name">
        <input type="text" name="address" placeholder="Address of Delivery">
        <p>Book is due at {{ return_date }}</p> 
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}x