{% extends "base.html" %} {% block title %} Homepage  {% endblock %}

{% block nav %}
<div class="nav_bar">
    <a href="" class="nav_button">Find book</a>
    <a href="/sign-up" class="nav_button">Sign Up</a>
    <a href="/log-in" class="nav_button">Log In</a>
    <a href="/about-us" class="nav_button">About Us</a>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="title">Batavia Library</h1>
    <h2 class="introduction">Find books, borrow books, return books, everything all at once.........</h2>
</div>

{% endblock %}