{# This log in page is for the user logging in #}

{# Extending base.html #}
{% extends "base.html" %}

{# Supplying the title #}
{% block title %} Log In  {% endblock %}

{# Supplying the nav #}
{% block nav %}
<div class="nav_bar">

    {# Link to find book #}
    <a href="/find-book" class="nav_button">Find book</a>

    {# Link to sign up #}
    <a href="/sign-up" class="nav_button">Sign Up</a>

    {# Link to log in #}
    <a href="/log-in" class="nav_button">Log In</a>

    {# Link to about us #}
    <a href="/about-us" class="nav_button">About Us</a>
</div>
{% endblock %} 

{# Supplying the main content #}
{% block content %}
<div class="content">
    <h1 class="title">Log In</h1>

    {# Displaying the log in form #}
    <form action="/log-in" method="post">
        <input type="text" name="username" placeholder="Username" required>  {# Username #}
        <input type="password" name="password" placeholder="Password" required>  {# Password #}
        <input type="submit" value="Submit">    {# Submitting the log in information #}
    </form>

    {# Warning the user if the username or password is wrong #}
    {% if warning == 'Wrong Information' %}
        <p>Your Username or Password is wrong</p>

    {# Warning the user if there is no such account #}
    {% elif warning == 'No Account' %}
        <p>The account does not exist</p>
    {% endif %}
</div>
{% endblock %}
