{% extends "base.html" %} {% block title %} Return Book {% endblock %}
{% block nav %}
<div class="nav_bar">
    <a href="/find-book" class="nav_button">Find book</a>
    <details class="nav_button">
        <summary>Check Out Book</summary>
        <a href="/checkout" class="dropdown">Check Out Book</a>
        <a href="/return" class="dropdown">Return Book</a>
    </details>
    <details class="nav_button">
        <summary>{{ user }}</summary>
        <a href="/logout" class="dropdown">Log Out</a>
    </details>
    <a href="/about-us" class="nav_button">About Us</a>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="title">Return Book</h1>

    <form action="/process-return" method="post">
        <input type="text" name="book" placeholder="Book name">
        <input type="submit" value="Submit">
    </form>
    {% if failed != None %}
    <p>There is no book: </p> {{ failed }}
    {% endif %}
</div>
{% endblock %}x